.error{
      width: 100%;
      height: 100vh;
      background-image: url(../global/utils/img/404.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: color;
      border: none;
}